
<!DOCTYPE html>
<html>


	<head>
		<title>VIEW JS DEMO</title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>

	</head>


	<body>


		<div id="todo-list-example">
  			<input
    			v-model="newTodoText"
    			v-on:keyup.enter="addNewTodo"
   			 	placeholder="Add a todo"
  			>
  			<ul>
    			<li
      				is="todo-item"
      				v-for="(todo, index) in todos"
      				v-bind:title="todo"
      				v-on:remove="todos.splice(index, 1)"
    			>	
    			</li>
  			</ul>
		</div>


		<br>
	  	<div id="app" >
        	{{ message }}
		</div>
        <hr>

        <br>
        <div id="app-2" >
        	{{ message}}
		</div>
		<br>

		<hr>
		<div id="app-3">
              <span v-bind:title="message">
                Hover your mouse over me for a few seconds to see my dynamically bound title!
              </span>
        </div>

        <div id="app-3">
  			<p v-if="seen">Now you see me</p>
		</div>

	</body>

		<script type="text/javascript">


			Vue.component('todo-item', {
				  template: '\
				    <li>\
				      {{ title }}\
				      <button v-on:click="$emit(\'remove\')">X</button>\
				    </li>\
				  ',
				  props: ['title']
				})

			new Vue({
			  el: '#todo-list-example',
			  data: {
			    newTodoText: '',
			    todos: [
			      'Vue Documentation perusal     ',
			      'Do the Vue Laracast Tutorial  ',
			      'Make an app simple but special'
			    ]
			  },

			  methods: {
			    addNewTodo: function () {
			      this.todos.push(this.newTodoText)
			      this.newTodoText = ''
			    }
			  }
			})

			var app = new Vue({
  				el: '#app',
  				data: {
    			  message: '<h>Hello BRAND NEW Framework!</h><hr>'
 				}
			})
			
			var app2 = new Vue({
  				el: '#app-2',
  				data: {
   				  message: 'You loaded this page on ' + new Date()
            	}
			})

			var app3 = new Vue({
  				el: '#app-3',
  				data: {
    			  seen: true
 				}
			})




		</script>

</html>